        <%- @user_location_photo.publicize!(current_user) %>
        <%- @user_location.publicize!(current_user) -%>

	<%- @page_title = h(@user_location_photo.title) -%>

	<p class="breadcrumb"><%= link_to('People', main_url(:action => 'people')) %> > <%- if @user_location.user == current_user -%><%= link_to 'You', :controller => 'people', :action => 'view', :login => @user_location.user.login %><%- else -%><%= link_to h(@user_location.user.login), :controller => 'people', :action => 'view', :login => @user_location.user.login %><%- end -%> > Locations > <%= link_to h(@user_location.name), :controller => 'location', :action => 'view', :id => @user_location.id %> > Photo</p>

	<h1><%= h(@user_location_photo.title) %></h1>

	<p style="text-align: center;"><img src="<%= @user_location_photo.photo(:full) %>" alt="<%= h(@user_location_photo.title) %>" title="<%= h(@user_location_photo.title) %>" /></p>
        <p style="text-align: right; font-size: 90%; color: #888;"><%= render :partial => 'shared_photo/photo_license', :locals => {:license => @user_location_photo.license} %></p>

	<%- if @user_location_photo.description -%><div style="text-align: center;"><%= birdstack_sanitize(@user_location_photo.description) %></div><%- end -%>

	<p>Location: <a href="<%= location_url(:user => @user_location.user.login, :id => @user_location.id) %>"><%= h(@user_location.name) %></a></p>


	<%- if current_user == @user_location.user then -%>
	  <p><a href="<%= location_photo_url(:user => @user_location.user.login, :location_id => @user_location.id, :id => @user_location_photo.id, :action => 'edit') %>">Edit</a></p>
	<%- end -%>

        <%- @user_location_photo.comment_collection.publicize!(current_user) -%>
        <%= render :partial => 'shared/comments_comment', :locals => { :comment_collection => @user_location_photo.comment_collection, :goto => location_photo_path(:user => @user_location_photo.user.login, :location_id => @user_location.id, :id => @user_location_photo.id) } %>
        <%- add_to_head(auto_discovery_link_tag(:atom, url_for(:controller => 'comments', :action => 'feed', :id => @user_location_photo.comment_collection.id), {:title => @user_location_photo.comment_collection.title})) unless @user_location_photo.comment_collection.private -%>
